@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
:root{
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
}
body{
    min-height: 100vh;
    background-color: var(--lightGray);
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
}
section.qr-card{
    width: 320px;
    height: 490px;
    background-color: var(--white);
    padding: 15px;
    margin-bottom: 20px;
}
img{
    width: 100%;
}
img, .qr-card{
    border-radius: 15px;
}
article.qr-content{
    width: 100%;
    padding: 15px;
    text-align: center;
}
.qr-content h1{
    font-size: 1.4em;
    line-height: 1.3em;
    color: var(--darkBlue);
    margin-bottom: 15px;
}
.qr-content p{
    color: var(--grayishBlue);
}
.attribution a{
    text-decoration: none;
    color: var(--darkBlue);
    font-weight: 700;
}
.attribution a:hover{
    color: hsl(220, 36%, 46%);
    text-decoration: 1.4px underline hsl(220, 36%, 46%);
}